@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;

1,400&family=Roboto+Slab:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 69.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header__top {
  border-bottom: 1px solid #d9dadb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu {
  padding: 0.9375rem 0.9375rem 0.9375rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #d9dadb;
  position: relative;
}

.header .menu__button {
  display: block;
  height: 0.875rem;
  width: 1.125rem;
  position: relative;
}

.header .menu__button span {
  position: absolute;
  left: 0;
  height: 2px;
  background-color: #bcbfc2;
  width: 100%;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.header .menu__button span:first-child {
  top: 0;
}

.header .menu__button span:nth-child(2) {
  width: 75%;
  top: calc(50% - 1px);
}

.header .menu__button span:last-child {
  bottom: 0;
}

.header .menu__button:hover span {
  background-color: #262d33;
}

.header .menu__title {
  color: #262d33;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.header .menu.active .menu__menu {
  visibility: visible;
  opacity: 100%;
  -webkit-transition: opacity 350ms, visibility 0ms;
  -o-transition: opacity 350ms, visibility 0ms;
  transition: opacity 350ms, visibility 0ms;
}

.header .menu.active .menu__button span {
  background-color: #262d33;
}

.header .menu.active .menu__button span:nth-child(2) {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.header .menu.active .menu__button span:first-child {
  top: calc(50% - 1px);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .menu.active .menu__button span:last-child {
  bottom: calc(50% - 1px);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .menu__menu {
  position: absolute;
  visibility: hidden;
  padding: 3.125rem;
  border: 1px solid #d9dadb;
  left: 0;
  top: 100%;
  opacity: 0%;
  background-color: #fff;
  -webkit-transition: opacity 350ms, visibility 0ms 350ms;
  -o-transition: opacity 350ms, visibility 0ms 350ms;
  transition: opacity 350ms, visibility 0ms 350ms;
}

.header .menu .burger-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
  row-gap: 1.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 69.375rem;
  width: calc(100vw - 1.875rem);
  z-index: 6;
}

.header .menu .burger-nav__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.header .menu .burger-nav__title {
  color: #262d33;
  font-weight: 700;
  font-size: 1.625rem;
  -webkit-transition: color 350ms;
  -o-transition: color 350ms;
  transition: color 350ms;
}

.header .menu .burger-nav__title:hover {
  color: #4592ff;
}

.header .menu .burger-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
}

.header .menu .burger-nav__item {
  color: #4b5157;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.header .menu .burger-nav__item a {
  -webkit-transition: color 350ms;
  -o-transition: color 350ms;
  transition: color 350ms;
  position: relative;
}

.header .menu .burger-nav__item a::before {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #4592ff;
  left: 50%;
  position: absolute;
  bottom: 0;
  -webkit-transition: left 350ms, width 350ms;
  -o-transition: left 350ms, width 350ms;
  transition: left 350ms, width 350ms;
}

.header .menu .burger-nav__item a:hover {
  color: #4592ff;
}

.header .menu .burger-nav__item a:hover::before {
  width: 100%;
  left: 0;
}

.header .item.search {
  display: none;
}

.header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5625rem 0 1.5625rem;
  margin: 0 auto 0 0;
  border-right: 1px solid #d9dadb;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.header .search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  width: 100%;
}

.header .search form:has(input:focus) .search__icon {
  color: #262d33;
}

.header .search__button {
  color: #bcbfc2;
  font-size: 1.125rem;
  cursor: pointer;
  display: none;
}

.header .search__button:hover {
  color: #262d33;
}

.header .search__button:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.header .search__icon {
  font-size: 1.125rem;
  color: #bcbfc2;
  cursor: pointer;
  -webkit-transition: color 350ms;
  -o-transition: color 350ms;
  transition: color 350ms;
}

.header .search__icon:hover {
  color: #262d33;
}

.header .search__icon:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.header .search__field {
  outline: none;
  -webkit-transition: color 350ms;
  -o-transition: color 350ms;
  transition: color 350ms;
  color: #939699;
  width: 100%;
  min-width: 0px;
}

.header .search__field:focus {
  color: #262d33;
}

.header .search__field:focus::-webkit-input-placeholder {
  opacity: 0;
}

.header .search__field:focus::-moz-placeholder {
  opacity: 0;
}

.header .search__field:focus:-ms-input-placeholder {
  opacity: 0;
}

.header .search__field:focus::-ms-input-placeholder {
  opacity: 0;
}

.header .search__field:focus::placeholder {
  opacity: 0;
}

.header .search__field::-webkit-input-placeholder {
  color: #939699;
}

.header .search__field::-moz-placeholder {
  color: #939699;
}

.header .search__field:-ms-input-placeholder {
  color: #939699;
}

.header .search__field::-ms-input-placeholder {
  color: #939699;
}

.header .search__field::placeholder {
  color: #939699;
}

.header .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 1.5625rem;
}

.header .links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.header .links .item .item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.header .links .item__icon {
  color: #bcbfc2;
  font-size: 1.125rem;
  -webkit-transition: color 350ms;
  -o-transition: color 350ms;
  transition: color 350ms;
}

.header .links .item__title {
  color: #4b5157;
  font-size: 0.875rem;
  line-height: 1.25rem;
  -webkit-transition: color 350ms;
  -o-transition: color 350ms;
  transition: color 350ms;
}

.header .links .item:active .item__content {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.header .links .item:hover .item__icon {
  color: #262d33;
}

.header .links .item:hover .item__title {
  color: #262d33;
}

.header .links .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header .links .language:active .item__button {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.header .links .language .item__button {
  -webkit-column-gap: 0.4375rem;
     -moz-column-gap: 0.4375rem;
          column-gap: 0.4375rem;
}

.header .links .language .item__button .item__title {
  color: #4b5157;
  -webkit-transition: color 350ms;
  -o-transition: color 350ms;
  transition: color 350ms;
}

.header .links .language .item__button .item__icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 350ms;
  transition: -webkit-transform 350ms;
  -o-transition: transform 350ms;
  transition: transform 350ms;
  transition: transform 350ms, -webkit-transform 350ms;
}

.header .links .language .item__button:hover .item__title,
.header .links .language .item__button:hover .item__icon {
  color: #262d33;
}

.header .links .language.active .language__select {
  top: 25px;
  opacity: 100%;
  visibility: visible;
  -webkit-transition: visibility 0ms, top 350ms, opacity 350ms;
  -o-transition: visibility 0ms, top 350ms, opacity 350ms;
  transition: visibility 0ms, top 350ms, opacity 350ms;
}

.header .links .language.active .language__select .language__item {
  opacity: 100%;
}

.header .links .language.active .language__select .language__item:nth-child(1) {
  -webkit-transition: opacity 350ms 125ms, color 350ms;
  -o-transition: opacity 350ms 125ms, color 350ms;
  transition: opacity 350ms 125ms, color 350ms;
}

.header .links .language.active .language__select .language__item:nth-child(2) {
  -webkit-transition: opacity 350ms 250ms, color 350ms;
  -o-transition: opacity 350ms 250ms, color 350ms;
  transition: opacity 350ms 250ms, color 350ms;
}

.header .links .language.active .item__title {
  color: #262d33;
}

.header .links .language.active .item__icon {
  color: #262d33;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.header .links .language__select {
  position: absolute;
  border: 1px solid #d9dadb;
  top: 10px;
  opacity: 0%;
  visibility: hidden;
  -webkit-transition: top 350ms 225ms, opacity 350ms 0ms, visibility 0ms 575ms;
  -o-transition: top 350ms 225ms, opacity 350ms 0ms, visibility 0ms 575ms;
  transition: top 350ms 225ms, opacity 350ms 0ms, visibility 0ms 575ms;
  -webkit-transform: translateX(-0.625rem);
      -ms-transform: translateX(-0.625rem);
          transform: translateX(-0.625rem);
  padding: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
  background-color: #fff;
}

.header .links .language__item {
  color: #4b5157;
  cursor: pointer;
  -webkit-transition: color 350ms, opacity 350ms 150ms;
  -o-transition: color 350ms, opacity 350ms 150ms;
  transition: color 350ms, opacity 350ms 150ms;
  -webkit-transition: color 350ms, opacity 350ms 75ms;
  -o-transition: color 350ms, opacity 350ms 75ms;
  transition: color 350ms, opacity 350ms 75ms;
  -webkit-transition: color 350ms, opacity 350ms 50ms;
  -o-transition: color 350ms, opacity 350ms 50ms;
  transition: color 350ms, opacity 350ms 50ms;
  opacity: 0%;
}

.header .links .language__item:hover {
  color: #4592ff;
}

.modal-search {
  width: calc(100vw - 2.8125rem);
  border: 1px solid #d9dadb;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -100%;
  -webkit-transition: top 350ms;
  -o-transition: top 350ms;
  transition: top 350ms;
  z-index: 10;
  background-color: #fff;
}

.modal-search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.3125rem;
     -moz-column-gap: 0.3125rem;
          column-gap: 0.3125rem;
  padding: 0rem 0.625rem 0rem 0.625rem;
}

.modal-search label {
  color: #bcbfc2;
  font-size: 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-search.active {
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.modal-search input {
  padding: 0.625rem;
  outline: none;
  -webkit-transition: color 350ms;
  -o-transition: color 350ms;
  transition: color 350ms;
  color: #939699;
  width: 100%;
  min-width: 0px;
}

.modal-search input:focus {
  color: #262d33;
}

.modal-search input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.modal-search input:focus::-moz-placeholder {
  opacity: 0;
}

.modal-search input:focus:-ms-input-placeholder {
  opacity: 0;
}

.modal-search input:focus::-ms-input-placeholder {
  opacity: 0;
}

.modal-search input:focus::placeholder {
  opacity: 0;
}

.modal-search input::-webkit-input-placeholder {
  color: #939699;
}

.modal-search input::-moz-placeholder {
  color: #939699;
}

.modal-search input:-ms-input-placeholder {
  color: #939699;
}

.modal-search input::-ms-input-placeholder {
  color: #939699;
}

.modal-search input::placeholder {
  color: #939699;
}

.modal-map {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1.5625rem;
  background-color: #fff;
  border: 1px solid #d9dadb;
  left: 50%;
  top: -100%;
  -webkit-transition: top 350ms;
  -o-transition: top 350ms;
  transition: top 350ms;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  max-width: 90vw;
  max-height: 70vh;
  height: 100vh;
  width: 100vw;
}

.modal-map.active {
  top: 50%;
}

.modal-map__legend {
  margin: 0rem 0rem 0.9375rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-map__title {
  font-size: 1.5rem;
  color: #4b5157;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-map__close {
  width: 1.875rem;
  height: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: relative;
}

.modal-map__close:hover span {
  background-color: #262d33;
}

.modal-map__close span {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  -webkit-transition: background-color 350ms;
  -o-transition: background-color 350ms;
  transition: background-color 350ms;
  background-color: #d9dadb;
}

.modal-map__close span:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-map__close span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-map__map {
  width: 100%;
  height: calc(100% - 45px);
}

.modal-map__map iframe {
  width: 100%;
  height: 100%;
}

.legend {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.legend__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.legend__text {
  color: #4b5157;
  font-size: 0.875rem;
  line-height: 1.25rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.legend__time {
  color: #4b5157;
  -webkit-transition: color 350ms;
  -o-transition: color 350ms;
  transition: color 350ms;
  font-size: 1rem;
  line-height: 1.5625rem;
  cursor: default;
}

.legend__time time {
  -webkit-transition: color 350ms;
  -o-transition: color 350ms;
  transition: color 350ms;
}

.legend__time time:hover {
  color: #4592ff;
}

.legend__logo {
  padding: 1.5625rem 0 1.5625rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0rem auto 0rem auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20%;
          flex: 1 0 20%;
}

.legend__name {
  color: #262d33;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 3.1875rem;
  font-family: "Lato";
  letter-spacing: 0.0625rem;
}

.legend__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.625rem 0rem 0.625rem 0rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.legend__adress {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
  color: #4b5157;
  text-align: right;
}

.legend__adress button:first-child {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 0 0 0.3125rem 0;
}

.legend__adress button {
  -webkit-transition: color 350ms;
  -o-transition: color 350ms;
  transition: color 350ms;
}

.legend__adress button:hover {
  color: #4592ff;
}

.legend__adress p {
  cursor: default;
}

.legend .phones {
  position: relative;
}

.legend .phones__button {
  color: #4b5157;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.125rem;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  -webkit-transition: color 350ms;
  -o-transition: color 350ms;
  transition: color 350ms;
}

.legend .phones__button:hover {
  color: #262d33;
}

.legend .phones__button i {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 350ms;
  transition: -webkit-transform 350ms;
  -o-transition: transform 350ms;
  transition: transform 350ms;
  transition: transform 350ms, -webkit-transform 350ms;
}

.legend .phones__info {
  position: absolute;
  -webkit-transition: border-color 350ms, opacity 350ms, visibility 0ms 350ms, top 350ms;
  -o-transition: border-color 350ms, opacity 350ms, visibility 0ms 350ms, top 350ms;
  transition: border-color 350ms, opacity 350ms, visibility 0ms 350ms, top 350ms;
  opacity: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 0.625rem;
  z-index: 5;
  top: -50%;
  right: 0;
  padding: 0.9375rem;
  color: #4b5157;
  max-width: 28.125rem;
  width: 90vw;
}

.legend .phones__title {
  font-size: 1.5rem;
  line-height: 1.8125rem;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  cursor: default;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.legend .phones__legend {
  margin: 0rem 0rem 0.9375rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.legend .phones__close {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.875rem;
          flex: 0 0 1.875rem;
  height: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.legend .phones__close span {
  position: absolute;
  width: 100%;
  height: 0.0625rem;
  background-color: #4b5157;
  top: calc(50% - 0.0625rem);
  left: 0;
}

.legend .phones__close span:first-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.legend .phones__close span:last-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.legend .phones__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 0.625rem;
  padding: 0rem 0rem 0.9375rem 0rem;
  margin: 0rem 0rem 0.9375rem 0rem;
  border-bottom: 1px solid #d9dadb;
}

.legend .phones .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.3125rem;
     -moz-column-gap: 0.3125rem;
          column-gap: 0.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.legend .phones .phone__icon {
  width: 1rem;
  height: 1rem;
}

.legend .phones .phone__icon img {
  width: 100%;
  height: 100%;
}

.legend .phones .phone__content a {
  -webkit-transition: color 350ms;
  -o-transition: color 350ms;
  transition: color 350ms;
}

.legend .phones .phone__content a:hover {
  color: #4592ff;
}

.legend .phones__footer .phones__email {
  font-size: 1rem;
  font-weight: 400;
  color: #4b5157;
}

.legend .phones__footer .phones__email a {
  position: relative;
  font-weight: 500;
  -webkit-transition: color 350ms;
  -o-transition: color 350ms;
  transition: color 350ms;
}

.legend .phones__footer .phones__email a::before {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #4b5157;
  left: 50%;
  bottom: 0;
  position: absolute;
  -webkit-transition: left 350ms, width 350ms, background-color 350ms;
  -o-transition: left 350ms, width 350ms, background-color 350ms;
  transition: left 350ms, width 350ms, background-color 350ms;
}

.legend .phones__footer .phones__email a:hover {
  color: #4592ff;
}

.legend .phones__footer .phones__email a:hover::before {
  left: 0%;
  width: 100%;
  background-color: #4592ff;
}

.legend .phones.active .phones__info {
  opacity: 100%;
  visibility: visible;
  top: 150%;
  -webkit-transition: border-color 350ms, opacity 350ms, visibility 0ms, top 350ms;
  -o-transition: border-color 350ms, opacity 350ms, visibility 0ms, top 350ms;
  transition: border-color 350ms, opacity 350ms, visibility 0ms, top 350ms;
}

.legend .phones.active .phones__button i {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  color: #262d33;
}

.navigation {
  background-color: #262d33;
  padding: 0.9375rem 0rem 0.9375rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item a {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  -webkit-transition: color 350ms;
  -o-transition: color 350ms;
  transition: color 350ms;
}

.navigation__item a:hover {
  color: #a5a7a9;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  margin: 0rem 0rem 2.5rem 0rem;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2.5rem;
}

.footer__up {
  border-top: 1px solid #d9dadb;
  border-bottom: 1px solid #d9dadb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.875rem 0rem 1.875rem 0rem;
}

.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  margin: 0rem 1.875rem 0rem 0rem;
}

.footer__logo img {
  width: 100%;
  height: auto;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.footer__item a {
  color: #262d33;
  font-size: 1.125rem;
  font-weight: 500;
  -webkit-transition: color 350ms;
  -o-transition: color 350ms;
  transition: color 350ms;
}

.footer__copyright {
  color: #939699;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.fade {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 75%;
  z-index: 5;
  left: 0;
  top: 0;
  position: absolute;
  visibility: hidden;
}

.fade.active {
  visibility: visible;
}

.banner {
  background: #262d33;
  padding: 1.875rem 0rem 1.875rem 0rem;
}

.banner__slider {
  background-color: #30363d;
  border-radius: 0.625rem;
}

.banner__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 1.5625rem;
  cursor: -webkit-grab;
  cursor: grab;
}

.banner__wrapper:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.banner .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  padding: 0.3125rem 1.5625rem 0.3125rem 0rem;
  border-right: 1px solid #4b5157;
  border-radius: 0;
  height: auto;
}

.banner .slide.sale .slide__cost .default {
  text-decoration: line-through;
  color: #939699;
}

.banner .slide.sale .slide__cost .cheaper {
  color: #4592ff;
  font-weight: 500;
  font-size: 1rem;
}

.banner .slide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.3125rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.banner .slide__title {
  font-family: "Lato";
  font-size: 1rem;
  line-height: 1.5625rem;
  font-weight: 700;
  margin: 0rem 0rem 0.625rem 0rem;
}

.banner .slide__title a {
  -webkit-transition: color 350ms;
  -o-transition: color 350ms;
  transition: color 350ms;
}

.banner .slide__title a:hover {
  color: #4592ff;
}

.banner .slide__button {
  font-size: 1rem;
  font-weight: 500;
  -webkit-transition: color 350ms;
  -o-transition: color 350ms;
  transition: color 350ms;
}

.banner .slide__button:hover {
  color: #4592ff;
}

.banner .slide__button:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.banner .slide__img {
  max-width: 4.0625rem;
  height: auto;
}

.banner .slide__img img {
  width: 100%;
  height: auto;
}

.swiper {
  overflow-y: visible;
}

.reviews {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #262d33), color-stop(50%, #fff));
  background-image: -o-linear-gradient(top, #262d33 50%, #fff 50%);
  background-image: linear-gradient(to bottom, #262d33 50%, #fff 50%);
  background-size: 50% 100%;
  background-position-y: 50%;
  margin: 0rem 0rem 3.75rem 0rem;
}

.reviews__slider {
  position: relative;
}

.reviews .swiper-scrollbar {
  display: none;
  position: relative;
  width: calc(100% + 20px);
  height: 0.0625rem;
  background-color: #939699;
  top: -1.25rem;
  left: -22.5px;
}

.reviews .swiper-scrollbar .swiper-scrollbar-drag {
  cursor: -webkit-grab;
  cursor: grab;
  position: absolute;
  height: 0.1875rem;
  background-color: #fff;
  border-radius: 0.3125rem;
  top: -1px;
}

.reviews .swiper-scrollbar .swiper-scrollbar-drag:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.reviews__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0rem 0rem 3.125rem 0rem;
}

.reviews__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}

.reviews__buttons button {
  border-radius: 50%;
  border: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.875rem;
  height: 1.875rem;
  font-size: 0.9375rem;
  color: #939699;
  border-color: #939699;
  -webkit-transition: color 350ms, border-color 350ms;
  -o-transition: color 350ms, border-color 350ms;
  transition: color 350ms, border-color 350ms;
}

.reviews__buttons button:hover {
  color: #fff;
  border-color: #fff;
}

.reviews__buttons button:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.reviews__title {
  font-size: 1.875rem;
}

.reviews__slider {
  background-color: #30363d;
  padding: 1.25rem 0rem 1.25rem 1.5625rem;
  border-radius: 0.625rem;
}

.reviews__wrapper {
  cursor: -webkit-grab;
  cursor: grab;
}

.reviews__wrapper:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.reviews .slide {
  padding: 0rem 1.5625rem 0rem 0rem;
  position: relative;
}

.reviews .slide.text-overflow .content__text {
  -webkit-line-clamp: 5;
  max-height: 6.875rem;
  overflow: hidden;
}

.reviews .slide.text-overflow .content__more {
  display: block;
}

.reviews .slide.text-overflow.show .content__text {
  -webkit-line-clamp: unset;
  max-height: none;
  overflow: visible;
}

.reviews .slide .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  margin: 0rem 0rem 0.9375rem 0rem;
}

.reviews .slide .user__photo {
  background-color: #fff;
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}

.reviews .slide .user__photo img {
  width: 100%;
  height: 100%;
}

.reviews .slide .user__name {
  font-size: 1.125rem;
}

.reviews .slide .content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0rem 0rem 0.625rem 0rem;
}

.reviews .slide .content__text {
  font-size: 1rem;
  line-height: 1.375rem;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin: 0rem 0rem 1.25rem 0rem;
  min-height: 6.875rem;
}

.reviews .slide .content__more {
  font-size: 0.875rem;
  color: #939699;
  -webkit-transition: color 350ms;
  -o-transition: color 350ms;
  transition: color 350ms;
  display: none;
}

.reviews .slide .content__more:hover {
  color: #fff;
}

.reviews .slide .content__more:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.about {
  margin: 0rem 0rem 3.75rem 0rem;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.5625rem;
}

.about__title {
  font-size: 2.5rem;
  line-height: 3.125rem;
  color: #262d33;
  font-weight: 500;
  max-width: 75%;
  text-align: center;
}

.about__description {
  color: #4b5157;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.75rem;
}

.decor-line {
  margin: 0rem 0rem 3.75rem 0rem;
  width: 100vw;
}

.decor-line span {
  width: 100%;
  height: 0.0625rem;
  background-color: #d9dadb;
  display: block;
}

.sending {
  margin: 0rem 0rem 3.75rem 0rem;
}

.sending__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.5625rem;
  color: #262d33;
}

.sending__title {
  font-size: 2.5rem;
  line-height: 3.125rem;
  font-weight: 500;
  text-align: center;
}

.sending__form {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.sending__input {
  height: 100%;
  max-width: 20rem;
  position: relative;
}

.sending__input input {
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  border: 1px solid #d9dadb;
  border-radius: 5px;
  padding: 0.625rem 0.9375rem 0.625rem 0.9375rem;
}

.sending__button input {
  background-color: #4592ff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.625rem 1.875rem 0.625rem 1.875rem;
  color: #fff;
  border-radius: 1.25rem;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 500ms;
  transition: -webkit-box-shadow 500ms;
  -o-transition: box-shadow 500ms;
  transition: box-shadow 500ms;
  transition: box-shadow 500ms, -webkit-box-shadow 500ms;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 48em) {
  .legend {
    padding: 1.25rem 0rem 1.25rem 0rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__logo {
    min-width: 14.0625rem;
  }

  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.3125rem;
  }

  .about__title {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  .about__description {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .sending__title {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}

@media (max-width: 61.99875em) {
  .header .links .language .item__title {
    display: block;
  }
}

@media (max-width: 47.99875em) {
  .header .links .item__title {
    display: none;
  }
}

@media (max-width: 35.9375em) {
  .header .item.search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header .search {
    margin: 0;
    padding: 0;
    border: none;
  }

  .header .search__button {
    display: block;
  }

  .header .links {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

@media (max-width: 26.5625em) {
  .header .menu__title {
    display: none;
  }

  .footer__logo {
    min-width: 9.375rem;
  }

  .footer__item a {
    font-size: 0.875rem;
  }

  .banner .slide {
    border: none;
  }

  .about__title {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }

  .about__description {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  .sending__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.9375rem;
  }
}

@media (any-hover: hover) {
  .header .menu:hover .menu__menu {
    visibility: visible;
    opacity: 100%;
    -webkit-transition: opacity 350ms, visibility 0ms;
    -o-transition: opacity 350ms, visibility 0ms;
    transition: opacity 350ms, visibility 0ms;
  }

  .header .menu:hover .menu__button span {
    background-color: #262d33;
  }

  .header .menu:hover .menu__button span:nth-child(2) {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }

  .header .menu:hover .menu__button span:first-child {
    top: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header .menu:hover .menu__button span:last-child {
    bottom: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .footer__item a:hover {
    color: #4592ff;
  }

  .sending__button input:hover {
    -webkit-box-shadow: 0px 0px 0.625rem #4592ff;
            box-shadow: 0px 0px 0.625rem #4592ff;
  }
}